/* BackgroundVideo.css */
.video-background {
  position: fixed; /* Ensure it covers the whole viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Send it to the back */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure it covers the whole area */
}
